<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="WatchFolderAPSource" value="D:\RLB_AP_Download" />
    <add key="WatchFolderARSource" value="D:\RLB_AR_Download" />
    <add key="WatchFolderDestination" value="D:\RLB_DownloadFileDrop" />
    <add key="WatchFolderLog" value="C:\Scripts\RetailLockBox\RLB_Log" />
  </appSettings>
  
  <!--Local debug-->
  <!--<appSettings>
    <add key="WatchFolderAPSource" value="C:\RLB_AP_Download" />
    <add key="WatchFolderARSource" value="C:\RLB_AR_Download" />
    <add key="WatchFolderDestination" value="C:\RLB_DownloadFileDrop" />
    <add key="WatchFolderLog" value="C:\RLB_Log" />
  </appSettings>-->
</configuration>