<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<startup/>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IContractService" maxReceivedMessageSize="2147483647">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
      <!--<endpoint address="http://setestviewpoint/ViewPointService/ContractService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContractService" contract="VPService.IContractService" name="BasicHttpBinding_IContractService"/>-->
      <endpoint address="http://setestviewpoint/ViewPointServiceDev/ContractService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContractService" contract="VPService.IContractService" name="BasicHttpBinding_IContractService"/>
      <!--<endpoint address="http://SEA-STGUPGVP01/ViewPointService/ContractService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContractService" contract="VPService.IContractService" name="BasicHttpBinding_IContractService"/>-->
    </client>
	</system.serviceModel>
</configuration>
