<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- AP Invoice Processing Common Settings -->
    <add key="APArchiveFolderLocation" value="D:\RLB_AP_Archive" />
    <add key="APProcessFolderLocation" value="D:\RLB_AP_Process" />
    <add key="APLogFileFolderLocation" value="D:\RLB_Log" />
    <add key="APUserAccount" value="MCKINSTRY\vpsvcacct" />
    <add key="APModule" value="AP" />
    <add key="APForm" value="APUnappInv" />
    <add key="APFilePrefix" value="McKinstryRLBAP_" />
    <add key="APUnmatchedCompany" value="1" />
    <add key="APUnmatchedVendorGroup" value="1" />
    <add key="APUnmatchedVendor" value="9" />
    <!-- AR Cash Receipt Processing Common Settings -->
    <add key="ARFilePrefix" value="McKinstryRLBAR_" />
    <add key="ARProcessFolderLocation" value="D:\RLB_AR_Process" />
    <!-- Global Settings -->
    <add key="RlbDownloadFileDrop" value="D:\RLB_DownloadFileDrop" />
    <add key="RlbDownloadJunkFolder" value="D:\RLB_DownloadFileDrop\JunkFolder" />
    <add key="MailSmtpHost" value="mail.mckinstry.com" />
    <add key="RlbHostName" value="sftp.retaillockbox.com" />
    <add key="RlbUserName" value="mckinstry" />
    <add key="RlbPassword" value="ch@ngem3" />
    <add key="RlbHostkeyFingerprint" value="ssh-rsa 2048 ad:ca:ad:2d:96:61:d1:bc:43:c0:02:8b:4e:44:96:bd" />
    <add key="MckIntegrationConnectionString" value="metadata=res://*/MckIntegration.csdl|res://*/MckIntegration.ssdl|res://*/MckIntegration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VPSTAGINGAG\VIEWPOINT;initial catalog=MCK_INTEGRATION;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add key="ViewpointConnectionString" value="metadata=res://*/Viewpoint.csdl|res://*/Viewpoint.ssdl|res://*/Viewpoint.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VPSTAGINGAG\VIEWPOINT;initial catalog=Viewpoint;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
  </appSettings>
</configuration>

