<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUnionClassService" maxReceivedMessageSize="2147483647">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
              <binding name="BasicHttpBinding_IUnionClassService1" maxReceivedMessageSize="2147483647" >
                <security mode="TransportCredentialOnly">
                  <transport clientCredentialType="Ntlm" />
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://setestviewpoint/ViewPointService/UnionClassService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUnionClassService"
                contract="VPService.IUnionClassService" name="BasicHttpBinding_IUnionClassService" />
            <endpoint address="http://localhost:64312/UnionClassService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUnionClassService1"
                contract="Dev.IUnionClassService" name="BasicHttpBinding_IUnionClassService1" />
        </client>
    </system.serviceModel>
</configuration>