<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
    </sectionGroup>
  </configSections>
<connectionStrings>
<add name="MCK_INTEGRATIONEntities" connectionString="metadata=res://*/IntegrationDB.csdl|res://*/IntegrationDB.ssdl|res://*/IntegrationDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VIEWPOINTAG\VIEWPOINT;initial catalog=MCK_INTEGRATION;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
</connectionStrings>
<appSettings>
<!--<add key="CGCConnectionStringTest" value="DataSource=cms.mckinstry.com;Database=S1017192;DefaultCollection=BILLO;User Id=MCKAS400;Password=MCK;"/>
<add key="CGCConnectionString" value="DataSource=cms.mckinstry.com;Database=S1017192;DefaultCollection=CMSFIL;User Id=MCKAS400;Password=MCK;"/>-->
<!--<add key="HRNETConnectionString" value="Server=SESQL08;Database=HRNET;User ID=hrnet;Password=P@ssword1;"/>-->
<!--<add key="ExpenseWireServiceURL" value="https://sandbox.expensewire.com/openaccess/webmethods/expensewire.asmx"/>-->
<add key="ExpenseWireServiceURL" value="https://web.expensewire.com/openaccess/webmethods/expensewire.asmx"/>
<!--<add key="CGCServiceURL" value="http://seapp02:81/McKinstry.CGC.WebServices/McKinstry.WebServices.Utility.asmx"/>-->
<add key="ExpenseWireServiceUserName" value="Mahendarb@mckinstry.com"/>
<add key="ExpenseWireServicePassword" value="Bmreddy5"/>
<add key="ExpenseWireServiceClientID" value="1B80D771-9DA0-4ED1-A575-2551C06706C3"/>
<!--<add key="BlankPayItems" value="900,905,907,909,711,600,"/>-->
<add key="ClientSettingsProvider.ServiceUri" value=""/>
<!--<add key="ExpenseWireXML" value="C:\Work\ExpenseWire\McKinstry.ExpenseUploader\XML\ExpenseWire.xml"/>
<add key="GroupXMLLocal" value="C:\Work\ExpenseWire\McKinstry.ExpenseUploader\XML\GroupID.xml"/>
<add key="GroupXML" value="\\SEAPP02\ExpenseWireGroupsID\GroupID.xml"/>
<add key="TransferMatrixXML" value="\\SEAPP02\ExpenseWireGroupsID\TranferMatrix.xml"/>-->

</appSettings>

  
<system.serviceModel>
  <bindings>
      <basicHttpBinding>
          <binding name="ExpenseWireServiceSoap">
              <security mode="Transport"/>
          </binding>
          <binding name="ExpenseWireServiceSoap1"/>
      </basicHttpBinding>
  </bindings>
  <client>
      <endpoint address="https://web.expensewire.com/openaccess/webmethods/expensewire.asmx" binding="basicHttpBinding" bindingConfiguration="ExpenseWireServiceSoap" contract="ExpenseWireProxy.ExpenseWireServiceSoap" name="ExpenseWireServiceSoap"/>
  </client>
</system.serviceModel>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
