<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
<connectionStrings>
  <add name="MCK_INTEGRATIONEntities" connectionString="metadata=res://*/IntegrationDB.csdl|res://*/IntegrationDB.ssdl|res://*/IntegrationDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VIEWPOINTAG\VIEWPOINT;initial catalog=MCK_INTEGRATION;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
</connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
