@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    McKinstry Co., LLC<br />
    Seattle, WA 99134<br />
    Bill Orebaugh<br />
    206.832.8359 | c:206.412.2965
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:billo@mckinstry.com">billo@mckinstry.com</a><br />
</address>