<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- RLB upload path same for AP and AR -->
    <add key="RemoteUploadPath" value="/VPERP/Inbound/" />
    <!-- Upload File Name (AP): RLB_AP_Header_Export.csv -->
    <!-- Upload File Name (AR): RLB_AR_Header_Export.csv -->
    <add key="UploadFileName" value="ARExportTest.csv" />
    <add key="LogFilePath" value="D:\RLB_Log" />
    <add key="LogFileName" value="AR_RLB_RemoteUpload" />
    <add key="SendNotificationEmail" value="True" />
    <add key="EmailSubject" value="AR RLB File Upload" />
    <add key="NoUploadEmailSubject" value="AR RLB Upload - No Files Uploaded" />
    <add key="FromEmail" value="vpdev@mckinstry.com" />
    <add key="FromEmailDisplayName" value="Viewpoint AR Upload" />
    <add key="ToEmail" value="briang@mckinstry.com" />
    <add key="CcEmail" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>