<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="ViewpointEntities" connectionString="metadata=res://*/ViewPoint.csdl|res://*/ViewPoint.ssdl|res://*/ViewPoint.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VIEWPOINTAG\VIEWPOINT;initial catalog=Viewpoint;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ViewpointEntities" connectionString="metadata=res://*/ViewPoint.csdl|res://*/ViewPoint.ssdl|res://*/ViewPoint.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SEA-STGSQL01\VIEWPOINT;initial catalog=Viewpoint;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<anonymousIdentification enabled="false" />
    <authentication mode="Windows" />
    <identity impersonate="false" />-->
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ContractServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization impersonateCallerForAllOperations="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="winAuthBasicHttpBinding" maxReceivedMessageSize="2147483647" >
          <security mode="None">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ContractServiceBehavior" name="McKinstry.ViewPoint.Services.ContractService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="winAuthBasicHttpBinding" contract="McKinstry.ViewPoint.Services.IContractService">
        </endpoint>
      </service>
      <service behaviorConfiguration="ContractServiceBehavior" name="McKinstry.ViewPoint.Services.UnionClassService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="winAuthBasicHttpBinding" contract="McKinstry.ViewPoint.Services.IUnionClassService">
        </endpoint>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <location path="ContractService.svc">
    <system.web>
      <compilation defaultLanguage="c#" />
    </system.web>
  </location>


</configuration>

