<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="McKinstry.ExpenseUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MCK_INTEGRATIONEntities" connectionString="metadata=res://*/IntegrationDB.csdl|res://*/IntegrationDB.ssdl|res://*/IntegrationDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VIEWPOINTAG\VIEWPOINT;initial catalog=MCK_INTEGRATION;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="MCK_INTEGRATIONEntities" connectionString="metadata=res://*/IntegrationDB.csdl|res://*/IntegrationDB.ssdl|res://*/IntegrationDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VPSTAGINGAG\VIEWPOINT;initial catalog=MCK_INTEGRATION;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>


  <appSettings>
    <!--<add key="CGCConnectionStringTest" value="DataSource=cms.mckinstry.com;Database=S1017192;DefaultCollection=BILLO;User Id=MCKAS400;Password=MCK;"/>
    <add key="CGCConnectionString" value="DataSource=cms.mckinstry.com;Database=S1017192;DefaultCollection=CMSFIL;User Id=MCKAS400;Password=MCK;"/>-->
    <!--<add key="HRNETConnectionString" value="Server=SESQL08;Database=HRNET;User ID=hrnet;Password=P@ssword1;"/>-->
    <!--<add key="ExpenseWireServiceURL" value="https://sandbox.expensewire.com/openaccess/webmethods/expensewire.asmx"/>-->
    <add key="ExpenseWireServiceURL" value="https://web.expensewire.com/openaccess/webmethods/expensewire.asmx"/>
    <!--<add key="CGCServiceURL" value="http://seapp02:81/McKinstry.CGC.WebServices/McKinstry.WebServices.Utility.asmx"/>-->
    <add key="ExpenseWireServiceUserName" value="ewadmin@mckinstry.com"/>
    <add key="ExpenseWireServicePassword" value="apace4BJNfnEv1"/>
    <add key="ExpenseWireServiceClientID" value="1B80D771-9DA0-4ED1-A575-2551C06706C3"/>
    <add key="ExpenseWireServiceUserNameFMS" value="mckintegration@mckinstry.com"/>
    <add key="ExpenseWireServicePasswordFMS" value="weary_3wjgX8"/>
    <add key="ExpenseWireServiceClientIDFMS" value="58F60018-26C9-4C73-96A8-F3341441F3D8"/>
    <!--<add key="BlankPayItems" value="900,905,907,909,711,600,"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--<add key="ExpenseWireXML" value="C:\Work\ExpenseWire\McKinstry.ExpenseUploader\XML\ExpenseWire.xml"/>
    <add key="GroupXMLLocal" value="C:\Work\ExpenseWire\McKinstry.ExpenseUploader\XML\GroupID.xml"/>
    <add key="GroupXML" value="\\SEAPP02\ExpenseWireGroupsID\GroupID.xml"/>
    <add key="TransferMatrixXML" value="\\SEAPP02\ExpenseWireGroupsID\TranferMatrix.xml"/>-->

  </appSettings>
  <applicationSettings>
    <McKinstry.ExpenseUploader.Properties.Settings>
      <setting name="McKinstry_ExpenseUploader_ExpenseWireProxy_ExpenseWireService" serializeAs="String">
        <value>https://web.expensewire.com/openaccess/webmethods/expensewire.asmx</value>
      </setting>
    </McKinstry.ExpenseUploader.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExpenseWireServiceSoap" openTimeout="00:20:00" closeTimeout="00:20:00" sendTimeout="00:20:00" receiveTimeout="00:20:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport"/>
        </binding>
          <binding name="ExpenseWireServiceSoap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://web.expensewire.com/openaccess/webmethods/expensewire.asmx" binding="basicHttpBinding" bindingConfiguration="ExpenseWireServiceSoap" contract="ExpenseWireProxy.ExpenseWireServiceSoap" name="ExpenseWireServiceSoap"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
