<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Host" value="SFTP.mckinstry.com"/>
    <add key="Source" value="AppenateData.csv"/>
    <add key="UserName" value="AppenateSFTP"/>
    <add key="SFTPPassword" value="heads-cREr9"/>
    <add key="MailServer" value="mail.mckinstry.com"/>
    <add key="RecipientList" value="peterk@mckinstry.com"/>
    <add key="DataBase" value="mcktestsql05\Viewpoint"/>
  </appSettings>
</configuration>