<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="TargetEnvironment" value="ViewpointConnectionDev" /> <!--default-->
    <add key="ViewpointConnectionProj" value="Server=SEA-STGSQL01\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
    <add key="ViewpointConnectionUpg" value="Server=SEA-STGSQL02\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
    <add key="ViewpointConnectionDev" value="Server=MCKTESTSQL05\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
    <add key="ViewpointConnectionStg" value="Server=VPSTAGINGAG\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
    <add key="ViewpointConnectionProd" value="Server=VIEWPOINTAG\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ViewpointConnectionProj" connectionString="Server=SEA-STGSQL01\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
    <add name="ViewpointConnectionUpg" connectionString="Server=SEA-STGSQL02\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
    <add name="ViewpointConnectionDev" connectionString="Server=MCKTESTSQL05\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
    <add name="ViewpointConnectionStg" connectionString="Server=VPSTAGINGAG\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
    <add name="ViewpointConnectionProd" connectionString="Server=VIEWPOINTAG\VIEWPOINt;Database=Viewpoint;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>