<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="LogFileName" value="APImport"/>
    <add key="SendNotificationEmail" value="True"/>
    <add key="EmailSubject" value="AP Data Loaded in Viewpoint"/>
    <add key="FromEmail" value="erptest@mckinstry.com"/>
    <add key="FromEmailDisplayName" value="Viewpoint AP Upload"/>
    <add key="ToEmail" value="erptest@mckinstry.com"/>
    <add key="CcEmail" value=""/>

  </appSettings>
  
</configuration>