<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- AP Invoice Processing Common Settings -->
    <add key="APArchiveFolderLocation" value="D:\RLB_AP_Archive" />
    <add key="APProcessFolderLocation" value="D:\RLB_AP_Process" />
    <add key="APLogFileFolderLocation" value="C:\Scripts\RetailLockBox\RLB_Log" />
    <add key="APUserAccount" value="MCKINSTRY\vpsvcacct" />
    <add key="APModule" value="AP" />
    <add key="APForm" value="APUnappInv" />
    <add key="APFilePrefix" value="McKinstryRLBAP_" />
    <add key="APUnmatchedCompany" value="1" />
    <add key="APUnmatchedVendorGroup" value="1" />
    <add key="APUnmatchedVendor" value="9" />
    <!-- Global Settings -->
    <add key="RlbDownloadFileDrop" value="D:\RLB_DownloadFileDrop" />
    <add key="RlbDownloadJunkFolder" value="D:\RLB_DownloadFileDrop\JunkFolder" />
    <add key="MailSmtpHost" value="mail.mckinstry.com" />
  </appSettings>
  <connectionStrings>
    <add name="MckIntegrationConnectionString" connectionString="Server=VPSTAGINGAG\VIEWPOINT;Database=MCK_INTEGRATION;Trusted_Connection=True;" />
    <add name="ViewpointConnectionString" connectionString="Server=VPSTAGINGAG\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>

