<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="ViewpointEntities" connectionString="metadata=res://*/ViewPoint.csdl|res://*/ViewPoint.ssdl|res://*/ViewPoint.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MCKTESTSQL04\VIEWPOINT;initial catalog=Viewpoint;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ViewpointEntities" connectionString="metadata=res://*/ViewPoint.csdl|res://*/ViewPoint.ssdl|res://*/ViewPoint.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SEA-STGSQL01\VIEWPOINT;initial catalog=Viewpoint;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ViewpointEntities" connectionString="metadata=res://*/ViewPoint.csdl|res://*/ViewPoint.ssdl|res://*/ViewPoint.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VIEWPOINTAG\VIEWPOINT;initial catalog=Viewpoint;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>