<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="AADInstance" value="https://login.windows.net/98db3f1b-6b74-4afe-8a78-49574c36ec45" />
    <add key="Tenant" value="risingventure.onmicrosoft.com" />
    --><!-- Azure AD tenant --><!--
    <add key="ClientId" value="f5c69304-8c94-48e5-9dac-d9742ca021aa" />
    --><!-- Client ID of the registered client application on AD --><!--
    <add key="CertThumbprint" value="e21bcf7d735077324f8cf5cf9b21b81cf852f6a7" />
    --><!-- Thumbprint of the certificate created in last section --><!--
    <add key="ApiResourceId" value="https://risingventure.onmicrsoft.com/risingwebapi" />
    --><!-- APP ID URI of the Web API registered with AD --><!--
    <add key="ApiBaseAddress" value="http://localhost:10000/" />-->
    <!-- Actual URL where Web API is hosted -->
    <!--<add key="ViewpointConnection" value="Server=MCKTESTSQL05\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
    <add key="ViewpointConnection" value="Server=SEA-STGSQL01\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
    <!--<add key="ViewpointConnection" value="Server=SEA-STGSQL02\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
    <!--<add key="ViewpointConnection" value="Server=VPSTAGINGAG\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
    <!--<add key="ViewpointConnection" value="Server=VPSTAGINGAG\VIEWPOINT;Database=ViewpointTraining;Trusted_Connection=True;" />-->
     <!--<add key="ViewpointConnection" value="Server=VIEWPOINTAG\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
    <add key="SendKeys" value="SendInput" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
     <!--<add name="ViewpointConnection" connectionString="Server=MCKTESTSQL05\VIEWPOINT;DataBase=Viewpoint;Trusted_Connection=True;" />-->
    <add name="ViewpointConnection" connectionString="Server=SEA-STGSQL01\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
    <!--<add name="ViewpointConnection" connectionString="Server=SEA-STGSQL02\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
   <!--<add name="ViewpointConnection" connectionString="Server=VPSTAGINGAG\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
    <!--<add name="ViewpointConnection" connectionString="Server=VPSTAGINGAG\VIEWPOINT;Database=ViewpointTraining;Trusted_Connection=True;" />-->
    <!--<add name="ViewpointConnection" connectionString="Server=VIEWPOINTAG\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
  </connectionStrings>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>