<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ViewpointConnection" value="Server=SEA-STGSQL01\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
    <!--<add key="ViewpointConnection" value="Server=SEA-STGSQL02\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
    <!--<add key="ViewpointConnection" value="Server=MCKTESTSQL05\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
    <!--<add key="ViewpointConnection" value="Server=VPSTAGINGAG\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
    <!--<add key="ViewpointConnection" value="Server=VIEWPOINTAG\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ViewpointConnection" connectionString="Server=SEA-STGSQL01\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
    <!--<add name="ViewpointConnection" connectionString="Server=SEA-STGSQL02\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
    <!--<add name="ViewpointConnection" connectionString="Server=MCKTESTSQL05\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
    <!--<add name="ViewpointConnection" connectionString="Server=VPSTAGINGAG\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
    <!--<add name="ViewpointConnection" connectionString="Server=VIEWPOINTAG\VIEWPOINt;Database=Viewpoint;Trusted_Connection=True;" />-->
  </connectionStrings>
</configuration>