<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.1304.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="McKinstry.ExpenseWireSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <dataConfiguration defaultDatabase="ConnectionString"/>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Database=MCK_HRDB;Server=sesql08;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Database=MCK_INTEGRATION;Server=VPSTAGINGAG\VIEWPOINT;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>-->
    <add name="ConnectionString" connectionString="Database=MCK_INTEGRATION;Server=VIEWPOINTAG\VIEWPOINT;Integrated Security=SSPI" providerName="System.Data.SqlClient; Connection Timeout=600"/>
  </connectionStrings>
  <appSettings>
    <add key="CGCConnectionString" value="DataSource=cms.mckinstry.com;Database=S1017192;DefaultCollection=BILLO;User Id=MCKAS400;Password=MCK;"/>
    <add key="CGCConnectionStringPROD" value="DataSource=cms.mckinstry.com;Database=S1017192;DefaultCollection=CMSFIL;User Id=MCKAS400;Password=MCK;"/>
    <add key="HRNETConnectionString" value="Server=SESQL08;Database=HRNET;User ID=hrnet;Password=P@ssword1;"/>
    <!--<add key="ExpenseWireServiceURL" value="https://sandbox.expensewire.com/openaccess/webmethods/expensewire.asmx"/>-->
    <add key="ExpenseWireServiceURL" value="https://web.expensewire.com/openaccess/webmethods/expensewire.asmx"/>
    <add key="CGCServiceURL" value="http://seapp02:81/McKinstry.CGC.WebServices/McKinstry.WebServices.Utility.asmx"/>
    <add key="ExpenseWireServiceUserName" value="ewadmin@mckinstry.com"/>
    <add key="ExpenseWireServicePassword" value="apace4BJNfnEv1"/>
    <add key="ExpenseWireServiceClientID" value="1B80D771-9DA0-4ED1-A575-2551C06706C3"/>
    <add key="ExpenseWireServiceUserNameFMS" value="mckintegration@mckinstry.com"/>
    <add key="ExpenseWireServicePasswordFMS" value="weary_3wjgX8"/>
    <add key="ExpenseWireServiceClientIDFMS" value="58F60018-26C9-4C73-96A8-F3341441F3D8"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <McKinstry.ExpenseWireSync.Properties.Settings>
      <setting name="McKinstry_ExpenseWireSync_cgcService_Utility" serializeAs="String">
        <value>http://seapp02:81/McKinstry.CGC.WebServices/McKinstry.WebServices.Utility.asmx</value>
      </setting>
      <setting name="McKinstry_ExpenseWireSync_ExpenseWireProxy_ExpenseWireService" serializeAs="String">
        <value>https://web.expensewire.com/openaccess/webmethods/expensewire.asmx</value>
      </setting>
    </McKinstry.ExpenseWireSync.Properties.Settings>
  </applicationSettings>
</configuration>
