@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <table border="0" cellpadding="20">
    <tr>
        <td align="center" valign="bottom"><img src="~/Images/McKinstry_Logo_Transparent.png" alt="McKisntry Co., LLC" /></td>
        <td align="center" valign="bottom"><h1>Under Construction</h1></td>
    </tr>
    </table>
    

    

    <p class="lead">This is the beginning of a collection of accessible and secure RESTful services to support ongoing enterprise needs.</p>
    <p class="lead">This foundational effort will support the vision of .... <i><font color="#0033cc"><b>"Any Data"</b></font>, <font color="#009933"><b>"Anywhere"</b></font>, <font color="#6600cc"><b>"Any Device"</b></font></i></p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@