<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="ViewpointConnection" value="Server=MCKTESTSQL04\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
    <!--<add key="ViewpointConnection" value="Server=SEA-STGSQL01\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
    <add key="ViewpointConnectionStg"  value="Server=VPSTAGINGAG\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
    <add key="ViewpointConnectionTrng" value="Server=VPSTAGINGAG\VIEWPOINT;Database=ViewpointTraining;Trusted_Connection=True;" />
    <add key="ViewpointConnectionProd" value="Server=VIEWPOINTAG\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="ViewpointConnection" connectionString="Server=MCKTESTSQL04\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
    <!--<add name="ViewpointConnection" connectionString="Server=SEA-STGSQL01\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />-->
    <add name="ViewpointConnectionStg"  connectionString="Server=VPSTAGINGAG\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
    <add name="ViewpointConnectionTrng" connectionString="Server=VPSTAGINGAG\VIEWPOINT;Database=ViewpointTraining;Trusted_Connection=True;" />
    <add name="ViewpointConnectionProd" connectionString="Server=VIEWPOINTAG\VIEWPOINT;Database=Viewpoint;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>